<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{template}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alunos</title>
</head>

<body>
    <div class="container">
        <section layout:fragment="content">
            <h1>Lorem ipsum dolor sit amet</h1>

            <p><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quis magni velit. Laudantium,
                    itaque sint. Nesciunt ex iure blanditiis quia voluptatem voluptatum, perspiciatis expedita explicabo
                    odit, modi corrupti iste qui.</span><span>Numquam laborum excepturi temporibus amet atque. Laborum,
                    laudantium aut? Explicabo cumque voluptatem alias? Id quos aspernatur fugiat nesciunt eos facere
                    consequuntur eveniet, beatae veritatis est quaerat exercitationem? Provident, neque
                    tempore.</span><span>Fugiat harum impedit magnam officiis dolorem obcaecati, voluptatum dicta illo
                    laborum ex ratione corrupti? Eos, dolorum culpa fugiat nostrum hic aperiam, possimus et saepe
                    officiis repudiandae optio dicta id quisquam.</span></p>
            <p><span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt odit in nulla accusantium culpa
                    vero nobis suscipit, mollitia, distinctio eveniet fugit fugiat obcaecati? Iure, odio officia quia
                    soluta eveniet earum!</span><span>Quasi voluptatum tempora, facere nulla natus accusantium. Dolorum
                    eligendi et ipsa voluptates nesciunt dolore blanditiis voluptate iusto hic sint minima consequatur
                    ex laborum qui doloribus provident libero, eos beatae. Fuga!</span><span>Repellat, voluptatum
                    obcaecati aliquam nobis enim voluptate at facilis commodi incidunt dolorem mollitia, eius laudantium
                    officiis nisi dignissimos facere? Laudantium, quae! Voluptates, sequi laborum? Numquam quia nihil
                    suscipit atque quasi?</span></p>
            <p><span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, libero quidem? Porro atque facere
                    sed laudantium quasi error, ipsum eaque nemo nihil mollitia veniam fugit nesciunt, alias labore odit
                    ut?</span><span>Reiciendis ratione, illo aliquam temporibus voluptas repellendus minima eum ipsam
                    laboriosam eaque, natus fugiat, id necessitatibus? Eos ea hic eveniet debitis sunt saepe! Tempore
                    eum quisquam similique veritatis consequuntur amet.</span><span>Earum corporis, sequi, debitis,
                    iusto deserunt repellat sapiente quas natus ad harum maiores veniam amet culpa nostrum ea! Obcaecati
                    temporibus pariatur a veritatis asperiores fugit veniam distinctio? Quibusdam, illum
                    sapiente.</span></p>
            <p><span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, perspiciatis consequuntur deserunt
                    molestias ad inventore, quibusdam, accusamus atque sequi minus eaque veritatis veniam itaque aut
                    eligendi asperiores porro. Dolore, a!</span><span>Fuga cumque, dolore corrupti quo sit corporis in
                    tempora deserunt blanditiis veniam nihil velit maxime debitis nemo molestiae molestias atque quidem
                    reiciendis pariatur eum ea minus doloribus? Natus, eos quisquam?</span><span>Nemo consectetur est
                    ipsa eligendi fugiat magni, nihil odio sit unde quam. Animi sapiente libero autem laboriosam
                    officiis temporibus, maiores perferendis sit hic, aut dicta, quos quidem iste obcaecati
                    fugit!</span></p>
        </section>
    </div>
</body>

</html>