<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ul class="nav nav-pills flex-column mb-auto" th:fragment="menu">
        <li class="nav-item"> <a href="#" class="nav-link active" aria-current="page"> <svg class="bi pe-none me-2"
                    width="16" height="16" aria-hidden="true">
                    <use xlink:href="#home"></use>
                </svg>
                Home
            </a> </li>
        <li> <a href="#" class="nav-link link-body-emphasis"> <svg class="bi pe-none me-2" width="16" height="16"
                    aria-hidden="true">
                    <use xlink:href="#speedometer2"></use>
                </svg>
                Dashboard
            </a> </li>
        <li> <a href="#" class="nav-link link-body-emphasis"> <svg class="bi pe-none me-2" width="16" height="16"
                    aria-hidden="true">
                    <use xlink:href="#table"></use>
                </svg>
                Orders
            </a> </li>
        <li> <a href="#" class="nav-link link-body-emphasis"> <svg class="bi pe-none me-2" width="16" height="16"
                    aria-hidden="true">
                    <use xlink:href="#grid"></use>
                </svg>
                Products
            </a> </li>
        <li> <a href="#" class="nav-link link-body-emphasis"> <svg class="bi pe-none me-2" width="16" height="16"
                    aria-hidden="true">
                    <use xlink:href="#people-circle"></use>
                </svg>
                Customers
            </a> </li>
    </ul>
</body>

</html>