<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/template}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina inicial</title>
</head>

<body>
    <div class="container">
        <section layout:fragment="content">
            <h1>Seja bem vindo(a) !!</h1>

            <p>Este é o Sistema de Gestão Acadêmica do Colégio Estadual Arnaldo Busato, foi desenolvido com muito
                cuidado e carrinho pelo alunos do 3° Ano do Curso Técnico de Desenvolvimento de Sistemas.</p>

            <p>Qualquer dúvida, reclamação, ou sugestão será muito bem vinda.</p>
        </section>
    </div>
</body>

</html>